.portfolio {
}

.pList {
  display: flex;
  height: 100vh;
  width: max-content;
}

.pItem {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.pImg {
  width: 40%;
  border-radius: 20px;
  overflow: hidden;
}
